<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Primerjalnik cen</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/products">Izdelki</a> </li>
        <li routerLinkActive="active"><a routerLink="/kosarica">Sestavi košarico</a> </li>
        <li routerLinkActive="active"><a routerLink="/administracija">Administracija</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" style="cursor: pointer;">Profil<span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onRegistracija()">Registracija</a></li>
            <li><a style="cursor: pointer;" (click)="onLogin()">Prijava</a></li>
            <li><a style="cursor: pointer;" (click)="onMojProfil()">Moj Profil</a></li>
            <li><a style="cursor: pointer;" (click)="onOdjava()">Odjava</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
