<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">-->
<!--      <div class="row">-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--          <div class="form-group">-->
<!--            <label for="username">Username</label>-->
<!--            <input type="text" id="username" class="form-control" formControlName="username">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--          <div class="form-group">-->
<!--            <label for="password">Password</label>-->
<!--            <input type="password" id="password" class="form-control" formControlName="password">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--          <button type="submit" class="btn btn-success">Login</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
